extends rspec
snippet class
	class ${1}
		${2}
	end
snippet yard
	#
	# ${1}
	#
snippet before
	before(:${1:each}) { ${2} }
snippet extend "extend ActiveSupport::Concern"
	extend ActiveSupport::Concern
